body {
    background-color: #f5f5f5;
    padding-top: 70px;
}

.tab-container {
    margin-bottom: 15px;
}

.tab-container .tab-content {
    padding: 15px;
    background-color: #fff;
    border: 1px solid #dee5e7;
    border-top-width: 0;
    border-radius: 0 0 2px 2px;
}

.page {
    background-color: #fff;
    border: 1px solid #dee5e7;
    border-radius: 0 0 2px 2px;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.tab-content > .tab-pane {
    display: block;
}

.record-actions {
    width: 50px;
}
.record-actions span:hover {
    cursor: pointer;
}

.review-general > div {
    color: #171717;
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}
.review-general > div:last-child {
    border-bottom: 1px solid #ddd;
}

.review-general > div:nth-child(odd) {
    background-color: #f9f9f9;
}

.is-invalid {
    color: #a94442!important;
    background-color: #f2dede!important;
}

.incident-severity-box {
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 0px 12px 7px;
}
.incident-severity-box hr {
    margin: 7px 0 0;
 }

.has-error label {
    color: #a94442;
}

.text-strong {
    font-weight: 600;
}